.edit {
  position: absolute;
  right: 0;
  top: -1rem;
}
.editOpen {
  display: flex;
  gap: 1rem;
  position: static;
  right: 0;
  top: 0;
  margin-bottom: 1rem;
}
.editOpen .editDesc {
  display: none;
}
.editDesc {
  box-shadow: 1px 0px 7px 2px #0000007a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inputDesc {
  padding-left: 0.5rem;
  height: 48px;
  width: 100%;
  resize: none;
  color: #dcdddd;
  font-size: 1.1rem;
  font-weight: 300;
  border: 1px solid rgba(47, 51, 54, 0.425);
  border-radius: 1rem;
  background-color: rgb(35, 35, 35);
  outline: none;
  transition: height 100ms ease-in-out;
}
.textArea {
  padding-top: 0.75rem;
}
.textArea::placeholder {
  font-size: 0.95rem;
  font-weight: 600;
  opacity: 0.9;
}
.editDesc > svg {
  font-size: 1.6rem;
  opacity: 0.8;
}
.name > p {
  word-break: break-all;
  font-size: 1rem;
}

@media screen and (max-width: 778px) {
  .name {
    padding: 0 2rem;
  }
  .edit {
    right: 2rem;
  }
  .inputDesc {
    font-size: 1rem;
  }
}
